.modal {
  background-color: #F9F5EB;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
}

.modal_content {
  border: 1 black;
  background-color: #002B5B;
  align-items: center;
  align-content: center;
  box-shadow: 2px 1px 5px grey;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 2em;
}

.modal_content h1 {
  color: white;
  font-size: x-large;
  padding-top: 1em;
  padding-bottom: .5em;
}

.modal_content label {
  padding: 1em;
  border: 1px solid gray;
  background-color: #E4DCCF;
  width: 90%;
  color: gray;
  display: flex;
}

.modal_content input {
  background-color: #E4DCCF;
  padding-left: 0.5em;
  color: black;
}

.button {
  margin-top: 2rem;
  border: 1px  solid black;
  border-radius: 2rem;
  padding: .5rem 1rem;
  box-shadow: 3px 3px 3px lightgray;
}

.buttonSave {
  margin-top: 2rem;
  border: 1px  solid black;
  background-color: #7079f0;
  color: white;
  border-radius: 2rem;
  padding: .5rem 1rem;
  box-shadow: 3px 3px 3px lightgray;
}
